.mainBacklogContainer{
    gap: 2rem;
    width: 70vw;
    height: 100%;
}
.contentContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.columsContainer{
    height: 100%;
    width: 100%;
    gap: 3rem;
    display: flex;
    flex-direction: row;
}